<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/Landing.css" rel="stylesheet" type="text/css">

	<!---Google Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/601e0e0aae.js" crossorigin="anonymous"></script>


	<title>Home-Crptyoicon</title>
</head>
<body>

	<!--Price-->

	<div class="container-fluid topbar py-2">
		<div class="row text-center">
			<div class="col-md-2 price"><i class="fab fa-btc"></i><a href="#" class="text-white"> Bitcoin (BTC) <span>$10.862 (+2.70%)</span> <i class="fas fa-sort-up"></i></a></div>
			<div class="col-md-2 price"><i class="fab fa-btc"></i><a href="#" class="text-white"> EOS (EOS) <span>$2.65 (-2.42%)</span> <i class="fas fa-sort-up"></i> </a> </div>
			<div class="col-md-2 price"><i class="fab fa-btc"></i><a href="#" class="text-white"> Ethereum <span>$337.32 (+2.70%)</span> <i class="fas fa-sort-up"></i></a></div>
			<div class="col-md-2 price"><i class="fab fa-btc"></i><a href="#" class="text-white"> Litecoin (LTC) <span>$46.98 (-3.74%) </span><i class="fas fa-sort-up"></i></a></div>
			<div class="col-md-2 price"><i class="fab fa-btc"></i><a class="text-white"> Tether (USDT) <span>$1.01862 (+2.07%)</span> <i class="fas fa-sort-up"></i></a></div>
			<div class="col-md-2"><a href="#">Powered By <span>CoinWorld</span></a></div>
		</div>
	</div>

	<!--Navigation-->

	<nav class="navbar navbar-expand-lg navbar-light navigation navbar-color sticky py-3">
		<a class="navbar-brand" href="#"><img src="images/logo.png" class="comlogo" alt="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#plan">Plans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#rules">Rules</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#faq">FAQ's</a>
				</li>
				<a href="login" class="btn lgbtn">Login</a>
			</ul>
		</div>
	</nav>

	<!---Banner Section-->

	<div class="container-fluid mainbg">
		<div class="row">
			<div class="col-md-4 lefttxt">
				<img src="images/img2.png" class="img-fluid">
				<h2>Profitable <br> Cryptocurrency <br>Investment</h2>

				<a href="#" class="btn btn-success getbtn">Get Started</a>
				<i class="fas fa-chevron-down"></i>
			</div>
			<div class="col-md-8 ani">
				<button type="button" id="formButton">Help</button>
				<form class="contectform" id="form1">
					<div class="media">
						<img class="mr-3 mx-4" src="images/formicon.png" alt="Generic placeholder image" class="img-fluid">
						<div class="media-body mediatxt">
							<h5 class="mt-0 text-white">Help</h5>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="Your email">
						</div>
						<div class="col-sm-12 py-4">
							<textarea class="form-control" rows="3">Message</textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary formbtn">Send</button>
				</form>
			</div>
		</div>
	</div>
	<img src="images/bgicon.png" class="bannerbgicon">


	<!--About Section-->

	<div class="container-fluid aboutbg" id="about">
		<h1 class="mx-5 py-5"><span>Welcome to</span> <br>Cryptocoin Investment</h1>
		<div class="row">
			<div class="col-md-6">
				<img src="images/bg.png" class="img-fluid aboutimg">
			</div>
			<div class="col-md-6">
				<p>
					But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself...
				</p>
			</div>
		</div>
	</div>


	<!---Plan Section-->

	<div class="container-fluid  py-3 planbg" id="plan">
		<h1>Investment Plan</h1>
		<br><br>
		<div class="row text-center planbox">
			<div class="col-md-2">
				<div class="card cardbox">
					<div class="card-header cardhead">
						<h4>120%</h4>
						<h6>After 1 Day</h6>
					</div>
					<div class="card-body cardbdy">
						<h6 class="card-title">Min:<span>$50</span></h6>
						<h6 class="card-title">Max:<span>$10.000</span></h6>
						<h6 class="card-title">Automatic Withdraw</h6>
					</div>
					<div class="card-footer cardfoot">
						<a href="#" class="btn planbtn">Deposit</a>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card cardbox">
					<div class="card-header cardhead">
						<h4>130%</h4>
						<h6>After 2 Day</h6>
					</div>
					<div class="card-body cardbdy">
						<h6 class="card-title">Min:<span>$50</span></h6>
						<h6 class="card-title">Max:<span>$10.000</span></h6>
						<h6 class="card-title">Automatic Withdraw</h6>
					</div>
					<div class="card-footer cardfoot">
						<a href="#" class="btn planbtn">Deposit</a>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card cardbox">
					<div class="card-header cardhead">
						<h4>140%</h4>
						<h6>After 3 Day</h6>
					</div>
					<div class="card-body cardbdy">
						<h6 class="card-title">Min:<span>$50</span></h6>
						<h6 class="card-title">Max:<span>$10.000</span></h6>
						<h6 class="card-title">Automatic Withdraw</h6>
					</div>
					<div class="card-footer cardfoot">
						<a href="#" class="btn planbtn">Deposit</a>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card cardbox">
					<div class="card-header cardhead">
						<h4>350%</h4>
						<h6>After 1 Day</h6>
					</div>
					<div class="card-body cardbdy">
						<h6 class="card-title">Min:<span>$50</span></h6>
						<h6 class="card-title">Max:<span>$10.000</span></h6>
						<h6 class="card-title">Automatic Withdraw</h6>
					</div>
					<div class="card-footer cardfoot">
						<a href="#" class="btn planbtn">Deposit</a>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card cardbox">
					<div class="card-header cardhead">
						<h4>400%</h4>
						<h6>After 2 Day</h6>
					</div>
					<div class="card-body cardbdy">
						<h6 class="card-title">Min:<span>$50</span></h6>
						<h6 class="card-title">Max:<span>$10.000</span></h6>
						<h6 class="card-title">Automatic Withdraw</h6>
					</div>
					<div class="card-footer cardfoot">
						<a href="#" class="btn planbtn">Deposit</a>
					</div>
				</div>
			</div>
		</div>
		<br>

		<!--Rules Section-->

		<div class="rules" id="rules">
			<h1 class="text-white">Rules</h1>
			<ul class="text-white">
				<li><p>The rules of the project have the some legal force as all other information provided on other pages of the Company's website.</p></li>
				<li><p>Engaging in cooperation with the Company. the participant may rest assured of the personal data confidentiality and account security.</p></li>
				<li><p>The rules of the project have the some legal force as all other information provided on other pages of the Company's website.</p></li>
				<li><p>Engaging in cooperation with the Company. the participant may rest assured of the personal data confidentiality and account security.</p></li>
				<li><p>The rules of the project have the some legal force as all other information provided on other pages of the Company's website.</p></li>
			</ul>
		</div>

	</div>


	<!--FAQ Section-->

	<div class="container-fluid faqbg" id="faq">
		<h1>FAQ's</h1>
		<div class="row accordion1">
			<!--First Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									<p class="questiontxt"> Q : Why I shall trust you?</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>

			<img src="images/bgicon.png" class="faqbgicon">

			<!--second Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingtwo">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
									<p class="questiontxt">
										Q : How secure is online payment
									</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapsetwo" class="collapse hide" aria-labelledby="headingtwo" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row accordion1">

			<!--third Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingthree">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
									<p class="questiontxt">Q : Why I shall trust you ?</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapsethree" class="collapse hide" aria-labelledby="headingthree" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Fourth Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingfour">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
									<p class="questiontxt">Q : How secure is online payment</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapsefour" class="collapse hide" aria-labelledby="headingfour" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row accordion1">

			<!--Fifth Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingfive">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
									<p class="questiontxt">Q : Why I shall trust you ?</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapsefive" class="collapse hide" aria-labelledby="headingfive" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Six Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingsix">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">
									<p class="questiontxt">Q : How secure is online payment</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapsesix" class="collapse hide" aria-labelledby="headingsix" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row accordion1">

			<!--SEVEN Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingseven">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">
									<p class="questiontxt">Q : Why I shall trust you ?</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapseseven" class="collapse hide" aria-labelledby="headingseven" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Eight Faq's-->

			<div class="col-md-6">
				<div id="accordion">
					<div class="card facard">
						<div class="card-header faqhead" id="headingeight">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseeight">
									<p class="questiontxt"> Q : How secure is online payment</p>
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapseeight" class="collapse hide" aria-labelledby="headingeight" data-parent="#accordion">
							<div class="card-body faqbody">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy…
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--Contact Section-->
	<h1 class="emailtxt">Contact Us</h1>
	<div class="container-fluid emailbox">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<form>
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="Your email">
						</div>
						<div class="col-sm-12 py-4">
							<textarea class="form-control" rows="3">Message</textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary formbtn">Send</button>
				</form>
			</div>
			<div class="col-md-5">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195601.28720359915!2d-75.25811239143708!3d40.00241367555988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b7d8d4b54beb%3A0x89f514d88c3e58c1!2sPhiladelphia%2C%20PA%2C%20USA!5e0!3m2!1sen!2s!4v1602144427345!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>


	</div>


	<!--Footer Section-->

	<div class="container-fluid py-5 footer">
		<div class="row footwidth ">
			<div class="col-md-3 footimg">
				<img src="images/logo.png" class="img-fluid">
				<br><br>
				<p>
					@@2020 Cryptocoin investment LTD<br>
					All Right Resverd
				</p>
			</div>
			<div class="col-md-3 menue">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#plan">Plans</a></li>
					<li><a href="#rules">Rules</a></li>
					<li><a href="#faq">Faq's</a></li>
				</ul>
			</div>
			<div class="col-md-6 addresslink">
				<h5>Registered Location Address</h5>
				<br>
				<i class="fas fa-map-marker mx-3"></i><a>near stock exchange,new jersy</a>
				<br><br>
				<i class="fas fa-envelope mx-3"></i><a>invest@cryptocoin.com</a>
			</div>
		</div>
	</div>

	<!--Script Files-->

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>