<div class="text-center border-box p-3">
	<h4 class="font-weight-bold">Help</h4>
	<hr/>
	<Field>
		<TextEdit Placeholder="Subject"></TextEdit>
	</Field>
	<Field>
		<textarea class="form-control" rows="3"></textarea>
	</Field>
	<Field>
		<Button Color="Color.Primary">Contact us</Button>
	</Field>
</div>

@code {

}
